<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpiser.hubclient" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.application.HubClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".presentation.features.main.view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.features.profile.view.ProfileActivity" />
        <activity android:name=".presentation.features.issues.view.IssuesActivity" />
        <activity android:name=".presentation.features.issue.view.IssueActivity" />

    </application>

</manifest>